apiVersion: apps/v1
kind: Deployment
metadata:
  name: production-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: production-app
  template:
    metadata:
      labels:
        app: production-app
    spec:
      containers:
      - name: production-container
        image: -docker.pkg.dev/qwiklabs-gcp-04-8850b4727247/my-repository/hello-cloudbuild:v2.0
        ports:
        - containerPort: 8080
